h1.title1{color: #434da2;}
h1.title2{color: #f3981d;}
h1.title3{color: #0075c2;}
h1.title4{color: #c70067;}
h1.title5{color: #56256e;}
table{border: dotted medium black;}
th{border: solid medium black;}
th.table1{border: dashed thick blue;}
td.table1{border: dashed thick blue;}
p.migi{text-align: right;}
b.b1{color: #eb6101;}
b.b2{color: #e6b422;}
b.b3{color: #ff0000;}
h2.mokuzi{color: #ed6d35;}
h2.gaiyo{color: #c9caca;}
h2.mizuiro{color: #00a1e9;}
h2.midashi{color: #00ac9a;}
h2.koki{color: #ffa500;}
h2.syohei{color: #ff0000;}
h2.masataka{color: #0000ff;}
