h1.title1{color: #434da2;}
table{border: dotted medium black;}
th{border: solid medium black;}
h2.midashi{color: #00ac9a;}
h2.koki{color: #ffa500;}
h2.syohei{color: #ff0000;}
h2.masataka{color: #0000ff;}
